<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Message</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
    <link rel="stylesheet" th:href="@{/css/base.css}"/>
    <link rel="stylesheet" th:href="@{/css/response.css}"/>
</head>
<body>
    <nav class="fixed-top bg-header-color py-4">
        <div class="app-header">
            <div class="d-flex justify-content-between align-items-center">
                <a th:href="@{/expenses}" class="text-white">
                    <span class="font-size-medium font-weight-bold">Expense Manager</span>
                </a>
            </div>
        </div>
    </nav>
    <div th:if="${successMsg}" class="container p-5 my-5 border container-top-margin">
        <h1>Success!</h1>
        <p>Thanks for registering your account. Now you can start adding your expenses!</p>
        <a th:href="@{/login}" class="btn button_default">Login Now</a>
    </div>
  <div th:if="${notFound}" class="container p-5 my-5 border container-top-margin">
    <h1>Expense Not Available</h1>
    <p th:text="${message}"></p>
    <a th:href="@{/expenses}" class="btn button_default">Home</a>
  </div>
  <div th:if="${serverError}" class="container p-5 my-5 border container-top-margin">
      <h1>Contact Administrator</h1>
      <p>Something went wrong! Please contact administrator</p>
      <p th:text="${message}"></p>
      <a th:href="@{/expenses}" class="btn button_default">Home</a>
  </div>
    <footer class="footer-copyright text-center bg-header-color py-5" style="position: fixed; height: 60px; width: 100%;
        bottom: 0; color: white">
        <div class="container">
            <p class="m-0 text-center text-white">
                Copyright &copy; Expense Manager - <script>document.write(new Date().getFullYear())</script> Developed by Sergii Vakaliuk (vakals@gmail.com)
            </p>
        </div>
    </footer>
    <script th:src="@{/js/bootstrap.js}"></script>
</body>
</html>